@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 92px auto 92px auto;
    max-width: 1184px;
}

@media screen and (max-width: 1024px){
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin: 88px auto 88px auto;
        grid-gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        grid-gap: 12px;
        margin: 64px auto 64px auto;
    }
}