.place__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  display: inline;  
}


.place__link:hover {
  opacity: .8;
}
 