.place__link {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}


.place__link:hover {
  opacity: .3;
  text-decoration: none;
}
 

@media screen and (min-width: 768px) {
  .place__link {
    display: block;
  }
}