@import url(../footer/__link/footer__link.css);
@import url(../footer/__links/footer__links.css);
@import url(../footer/copyright/footer__copyright.css);
@import url(../footer/__list/footer__list.css);


.footer {
  display: flex;
  flex-direction: column;
  padding: 64px 0 24px 16px;
  box-sizing: border-box;
  margin: 0;
}


@media screen and (min-width: 768px) {
  .footer {
    max-width: 720px;
    flex-direction: row;
    justify-content: space-between;
    padding: 88px 0px 24px 0px;
    margin: 0 auto;
    overflow: hidden;
  }
}


@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
    padding: 92px 0px 24px 0px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 0 24px 0;
  }
}